/*
this file is named "site.css" and is in a directory named "css"
*/

.fancy-header {
    color: darkslategrey;
    text-align: center;
    /*text-decoration: underline;*/
}
.style-header {
    text-decoration: underline;
    color: darkolivegreen;
font-family: monospace;
}

body{
    /*background-color: lightslategray;*/
    background-image: url("../img/360_F_223704267_YKJgE69z5XwmqhkIUwZa6No8s5Bc6xvV.jpg");
    font-family: Papyrus;
    /*text-decoration-color: darkolivegreen;*/
}

table, th, td {
    border: 1px solid;
    font-family: Papyrus ;
}

